@font-face {
    font-family: Troika;
    src: url("./Troika/Troika.ttf");
    src: url("./Troika/Troika.eot?#iefix") format('embedded-opentype'),
         url("./Troika/Troika.woff2") format('woff2'),
         url("./Troika/Troika.woff") format('woff'),
         
}
@font-face {
    font-family: "Red October";
    src: url("./Red October/RedOctober.ttf");
    src: url("./Red October/RedOctober.eot?#iefix") format('embedded-opentype'),
         url("./Red October/RedOctober.woff2") format('woff2'),
         url("./Red October/RedOctober.woff") format('woff'),
         
}

@font-face {
    font-family: Popeda;
    src: url("./Pobeda/Pobeda-Bold.ttf");
    src: url("./Pobeda/Pobeda-Bold.eot?#iefix") format('embedded-opentype'),
         url("./Pobeda/Pobeda-Bold.woff2") format('woff2'),
         url("./Pobeda/Pobeda-Bold.woff") format('woff'),
         
}