@font-face {
    font-family: "Izvestija";
    src: url("./Izvestija/Izvestija_Regular.ttf");
}
@font-face {
    font-family: "Trud";
    src: url("./Trud/Truth.ttf");
}
@font-face {
    font-family: "Pravda";
    src: url("./Pravda/Pravda Newspaper.otf");
}